@model RoleViewModel

<div class="form-group">
    <label asp-for="Id" class="col-form-label"></label>
    <input class="form-control" asp-for="Id" readonly />
</div>

<div class="form-group">
    <label asp-for="RoleName" class="col-form-label"></label>
    <input class="form-control" asp-for="RoleName" readonly />
</div>
